.about-container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
  }
  
  .about-banner {
   background-color: #095436;  /* Bootstrap green */
    color: white;
    padding: 60px 20px;
    text-align: center;
  }
  
  .about-banner h1 {
    font-size: 2.5rem; /* Increased from 3rem */
    font-weight: bold;
  }
  
  .about-banner p {
    font-size: 1.5rem; /* Increased from 1.2rem */
    margin-top: 10px;
  }
  
  .about-section {
    padding: 40px 20px;
  }
  
  .about-content {
    margin-bottom: 40px;
  }
  
  .about-content h2 {
    font-size: 2rem; /* Increased from 2rem */
    color: #198754;
    margin-bottom: 20px;
  }
  
  .about-content p {
    font-size: 1.3rem; /* Increased from 1.1rem */
    line-height: 1.8;
  }
  
  .features-list {
    list-style: none;
    padding: 0;
  }
  
  .features-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .features-list h3 {
    margin-left: 10px;
    font-size: 1.8rem; /* Increased from 1.5rem */
    color: #198754;
  }
  
  .features-list p {
    margin-left: 10px;
    font-size: 1.2rem; /* Increased from 1rem */
  }
  
  .icon {
    font-size: 2.5rem; /* Increased from 2rem */
    color: #198754;
  }
  
  .about-team-section {
    padding: 40px 20px;
    background-color: #f8f9fa; /* Light gray background */
    text-align: center;
  }
  
  .about-team-section h2 {
    font-size: 3rem; /* Increased from 2.5rem */
    margin-bottom: 40px;
    color: #198754;
  }
  
  .team-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .team-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 250px;
  }
  
  .team-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .team-card h4 {
    font-size: 1.8rem; /* Increased from 1.5rem */
    color: #198754;
  }
  
  .team-card p {
    font-size: 1.2rem; /* Increased from 1rem */
    color: #666;
  }
  